#entry {
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
}

#entry:selected {
  background-color: #504945;
}

#text:selected {
  color: #fbf1c7;
}

#window {
  padding: 2px;
  background-color: rgba(40, 40, 40, 0.97);
  border: 4px solid #665c54;
  border-radius: 8pt;
  font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono Nerd Font', monospace;
  font-size: 15px;
}

#input {
  border: 2px solid #665c54;
  background-color: #3c3836;
  color: #ebdbb2;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

#inner-box {
  color: #ebdbb2;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

#text {
  padding: 3px;
  color: #ebdbb2;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}
